<p style="margin-bottom: 2em;">
    <a
        href="{{json_href}}"
        title="JSON export of list">JSON</a>
</p>

<hr style="border: 2px solid #008033; margin-top: 2em;" />

<!-- based on footer from https://codecheck.org.uk/ on 2020-04-14 -->
<div style="color: #6c757d !important;">
    <p><strong><a href="https://codecheck.org.uk/">https://codecheck.org.uk/</a></strong> | <a
            href="https://github.com/codecheckers/"><i class="fa fa-github"></i> codecheckers</a> | <a
            href="https://zenodo.org/communities/codecheck/"><i class="ai ai-zenodo"></i> Zenodo Community</a></p>

    <p>© <a href="mailto:team@cdchck.science">team@cdchck.science</a> | Published under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
    <p><a
            href="https://creativecommons.org/licenses/by-sa/4.0/"><img title="license logo CC BY-SA 4.0"
                src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-sa.svg"></a>
    </p>

    <p><a href="https://doi.org/10.5281/zenodo.4059767"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.4059767.svg" alt="DOI of Zenodo Deposit"></a></p>

    <p style="font-style: italic;">CODECHECK is a process for independent execution of
        computations underlying scholarly research articles.</p>

    <p class="build-info">{{build_info}}</p>
</div>